<div class="card footer bg-dark navbar-dark">
  <div class="card-block">
    <p class="card-text text-white text-muted"><a href="https://github.com/MarcioMatteucci/ng4-spotify" target="_blank">GitHub&nbsp;&nbsp;
          <i class="fa fa-github" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/thomaspark/bootswatch/blob/gh-pages/LICENSE"
        target="_blank">MIT License.</a>
    </p>
    <p class="card-text">&copy; {{ today | date: 'yyyy' }}. Ng4Spotify by <strong>Marcio Matteucci</strong>.</p>
  </div>