/* You can add global styles to this file, and also import other style files */
html {
   position: relative;
   min-height: 100%;
}

.btn-spotify {
   background-color: #1ED760;
   border-color: #1ED760;
   color: #222222;
}