<div class="jumbotron text-center">
  <h1 class="display-3">Ng4 Spotify</h1>
  <p class="lead">Aplicacion Web en <strong>Angular 4</strong> que consume la API de <strong>Spotify</strong></p>
  <p>
    <a class="btn btn-primary btn-lg btn-spotify" routerLink="/search">Buscá tu MUSICA&nbsp;&nbsp;<i class="fa fa-search fa-flip-horizontal" aria-hidden="true"></i></a>
  </p>
</div>

<div class="card-deck text-center">

  <div class="card border-0">
    <img class="card-img-top mt-4 mx-auto" src="https://cdn.worldvectorlogo.com/logos/angular-icon-1.svg" alt="" style="width: 133px;">
    <div class="card-block">
      <h4 class="card-title">Angular 4</h4>
      <p class="card-text">Angular is a platform that makes it easy to build applications with the web. Angular combines declarative templates,
        dependency injection, end to end tooling, and integrated best practices to solve development challenges. Angular
        empowers developers to build applications that live on the web.</p>
    </div>
    <a href="https://angular.io/" target="_blank" class="btn btn-link mb-3">Leer más ...</a>
  </div>

  <div class="card border-0">
    <img class="card-img-top mt-4 mx-auto" src="https://upload.wikimedia.org/wikipedia/commons/e/ea/Boostrap_logo.svg" alt=""
      style="width: 140px;">
    <div class="card-block">
      <h4 class="card-title">Bootstrap 4</h4>
      <p class="card-text">Bootstrap is a free and open-source front-end web framework for designing websites and web applications. It contains
        HTML- and CSS-based design templates for typography, forms, buttons, navigation and other interface components, as
        well as optional JavaScript extensions.</p>
    </div>
    <a href="https://getbootstrap.com/" target="_blank" class="btn btn-link mb-3">Leer más ...</a>
  </div>

  <div class="card border-0">
    <img class="card-img-top mt-4 mx-auto" src="https://avatars1.githubusercontent.com/u/251374?v=4&s=400" alt="" style="width: 140px;">
    <div class="card-block">
      <h4 class="card-title">Spotify API</h4>
      <p class="card-text">Our Web API lets your applications fetch data from the Spotify music catalog and manage user’s playlists and saved
        music. Based on simple REST principles, our Web API endpoints return metadata in JSON format about artists, albums,
        and tracks directly from the Spotify catalogue.</p>
    </div>
    <a href="https://developer.spotify.com/web-api/" target="_blank" class="btn btn-link mb-3">Leer más ...</a>
  </div>

</div>