<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container">

    <a href="#" class="navbar-brand">
      <img class="d-inline-block align-top" src="https://avatars1.githubusercontent.com/u/251374?v=4&s=400" width="30" height="30" alt="">
      Ng4Spotify
    </a>

    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">

      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="#home" class="nav-link">Inicio</a>
        </li>
        <li class="nav-item">
          <a href="#home" class="nav-link">Buscar Música&nbsp;&nbsp;<i class="fa fa-search fa-flip-horizontal" aria-hidden="true"></i></a>
        </li>
      </ul>

    </div>

  </div>
</nav>